@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --color-primary: #f3f3f3;
  --color-secondary: #f9f9f9;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
